<% lists.each do |list| %>
        <hr class="panel-body-separator" />
        <div class="panel-body">
            <% if current_user == user %>
                <span class="col-xs-1 pull-left lead">
                    <%= list.items.size %>
                </span>
                <span class="col-xs-10">
            <% else %>
                <span class="col-xs-11">
            <% end %>
                <span <% if list.completed %>class="completed-task"<% end %> >
                    <%= link_to list do %>
                        <%= list.title %>
                    <% end %>
                </span><br>
                <%= render partial: 'timestamp', locals: { list: list } %>
            </span>
            <span class="col-xs-1">
                
                <% if list.completed %>
                    <span class="pull-right glyphicon glyphicon-check" title="completed"></span>
                <% else %>
                    <span class="pull-right glyphicon glyphicon-unchecked" title="in progress"></span>
                <% end %>
                
            </span>
        </div>
<% end %>