<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading panel-list-heading">
                    Editing: <i><strong><%= @list.title %></strong></i>
                </div>
                <div class="panel-body">
                    <%= render partial: 'newlist', locals: { user: nil, list: @list, type: 'update ', button: 'Update', autofocus: "true" } %>
                </div>
            </div>
    </div>
</div>