<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Editing: <i><strong><%= @list.title %></strong></i>
                </div>
                <div class="panel-body">
                        <%= render partial: 'form', locals: { user: @list.user, list: @list, type: 'update ' ,button: 'Update' } %>
                </div>
            </div>
    </div>
</div>