<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="well">
                Current Lists for: <%= @user.email %>
            </div>
            <div class="panel-body">
                <%= render partial: 'form', locals: { user: @user, list: List.new, type: 'new ', button: 'Create List' } %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="panel-list panel panel-default">
                <div class="panel-heading panel-list-heading">
                    <%= pluralize(@user.lists.count, "lists") %> in progress
                </div>
                <%= render partial: 'listings', locals: {user: @user, lists: @lists} %>
                <div class="panel-footer"></div>
        </div>
    </div>
</div>
        
