<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="panel-body">
            Current Lists for: <strong><%= @user.email %></strong>
    </div>
</div>
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="panel-list panel panel-default">
            <div id="lists-quantity" class="panel-heading panel-list-heading panel-body">
                <span class="col-xs-12 col-sm-2 text-center panel-body">
                    <%= pluralize(@user.lists.count, "list") %>
                    </span>
                <span class="pull-right col-xs-12 col-sm-6">
                    <%= render partial: 'newlist', locals: { user: @user, list: List.new, type: 'new', button: '+' } %>
                </span>
            </div>
            <div id="lists">
                <%= render partial: 'lists', locals: {user: @user, lists: @lists } %>
            </div>
            <div class="panel-footer"></div>
    </div>
</div>