<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-body new-list-footer">
                <%= render partial: 'newlist', locals: { user: @user, list: @list, type: 'new ', button: 'Create', autofocus: true } %>
            </div>
        </div>
    </div>
</div>