<br>
<div class="jumbotron">
    <h1>Need a tool to help organize your life?</h1>
    <p>We have the to-do list of your DREAMS!!<br>... or if you're into nightmares and scary movies this will still work</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h3>PTA meeting?</h3>
            <p>We can organize those meeting notes & get you planning your next fund-raiser!</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3>Soccer Tournament?</h3>
            <p>Don't forget the oranges and definitely don't overlook the sunblock!</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3>Shopping list?</h3>
            <p>We can help you not fall prey to Target's all seeing eye</p>
        </div>
    </div>
</div>