<div class="panel-body">
    <%= form_for [list, Item.new], html: {class: 'col-xs-12' } do |f| %>
        <div class="row">
            <div class="input-group col-xs-12">
                <%= f.text_field :body, class: 'form-control pull-left', placeholder: "new to-do", autofocus: true %>
                <span class="input-group-btn">
                    <%= submit_tag "+", class: 'btn btn-secondary btn-success' %>
                </span>
            </div>
        </div>
    <% end %>
</div>