/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
//  *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$grey: #777;
$green: #60a0a0;
$dark-blue: #335182;
$teal: #60a0a0;
$gold: #F4E04D;

// Devise users#edit
body {
    background-color: #ecf0f1;
}

.grey-bg {
    background: $grey;
}

.btn-success {
    background: #39caca !important;
    border-color: #39caca !important;
}

.jumbotron {
    background-color: #fff;
}

// Bootstrap override

// Navbar:

.navbar-inverse {
    background-color: $green;
    border-color: $dark-blue;
    .navbar-nav {
        li > a {
            color: rgba(250,250,250,1);
        }
        li > a:hover {
            color: $gold;
        }
    }
    .navbar-link {
        color: rgb(255,255,255);
    }
}

.navbar-brand {
    float: left;
    padding: 4px 0px 7px 10px;
    font-size: 12px;
    height: 38px;
    color: #fff !important;
    .brand-logo {
        display: inline;
    }
}

.brand-logo img {
    height: 100%;
}

.panel-footer {
    a:hover {
        text-decoration: none;
        .view-on-hover {
            color: #777777;
        }
    }
    a {
        .view-on-hover {
            color: rgba(0,0,0,.1);
        }
    }
}

.panel-list-heading {
    color: #fff !important;
     .glyphicon-circle-arrow-left {
         float: left;
     }
}

.panel-body {
    padding: 10px !important;
    padding: 3px auto !important;
}

.well {
    margin: .5em !important;
    padding: .5em !important;
}


.panel-heading {
    background: $green !important;
    border-color: $dark-blue !important;
    color: #fff;
    a {
        color: #fff;
    }
    a:hover {
        text-decoration:none;
    }
}

.panel-body-separator {
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid rgba(96, 160, 160, 0.9);
}

.completed-task {
    color: rgba(0,200,0,1);
}

[id^="list-"] * {
    z-index: 1;
}

.completion-bg {
    position: absolute;
    height: 100%;
    background: rgba(96, 160, 160, 0.1);
    top: 0;
    left: 0;
    z-index: 0;
    // box-shadow: inset 0px -1px 0px rgba(96, 160, 160, 0.9);
}

#lists .panel-body {
    position: relative;
}

.item-body * {
    margin: 0 !important;
    padding: 0 !important;
}

.task-footer {
    font-size: .8em;
    // margin-left: .5em;
}

.timestamp-footer {
    opacity: 1;
}

.nounderline:hover {
    text-decoration: none !important;
}

.glyphicon-check:hover,
.glyphicon-unchecked:hover {
    cursor: pointer;
}

input[id='list_title'] {
    background: rgba(255,255,255,.3);
    border: none;
}

input[id='list_title']::-webkit-input-placeholder
// input[id='list_title']:-moz-input-placeholder,
// input[id='list_title']::-moz-input-placeholder,
// input[id='list_title']:-ms-input-placeholder
{
    color: white !important;
}

input[id='list_title']:focus {
    background: white;
}

// List#index

.new-list-footer {
    background: $teal;
    .input-group .form-control:first-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        box-shadow: none;
        color: $teal;
    }
    .btn {
        border-radius: 3px !important;
    }
    border-radius: 0px;
    input[id="list_title"] {
        text-align: left;
    }
}

@media screen and (max-width: 575px) {
    input {
        font-size: 16px;
    }
    
    .text-xs-left { text-align: left !important; }
    .text-xs-right { text-align: right !important; }
    .text-xs-center { text-align: center !important; }
    .text-xs-justify { text-align: justify !important; }
    .form-control {
        font-size: 16px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2,
    .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, 
    .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, 
    .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, 
    .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
    .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
    .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12,
    .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    
}

@media screen and (max-width: 420px) {
    .container-fluid {
        padding: 0;
    }
    .glyphicon {
        font-size: 1.5em;
    }
    .panel-header {
        font-size: 1.5em;
    }
    .panel-body {
        padding: 5px !important;
    }
    .list-entry {
        padding-left: 1em;
    }
}